body{
    background-color:#eeedec;
    letter-spacing: .2em;
    font-size: .8em;
}
.container{
    max-width: 400px;

}   
.icon {
    position:relative;
    border-radius: 100%;
    width: 100px;
    top:-50px;
    margin-bottom: -50px;
}