body{
    background: #352f5b;
}
.container{
    max-width: 600px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background-color: rgba(0,0,0,0.2);
    max-width: 600px;
}
.todos li{
    background:#423a6f;
}
.delete{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: red;
}
.filtered{
    display: none !important;
}